body {
    background-color: rgb(80, 80, 80);
    background-image: url("/public/img/wild_oliva.png");
}
h1, h2 {
    text-align: center;
    color: rgb(200, 200, 200);
}
.tracked-items-category {
    margin-top: 2em;
}
.tracked-items-category h2 {
    margin-bottom: 0.5em;
}
.tracked-item {
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(200, 200, 200);
    padding: 0.5em;
    cursor: pointer;
}
.tracked-item:hover {
    background-color: rgb(250, 250, 250);
}
.tracked-item-name {
    position: absolute;
}
.tracked-item-price {
    text-align: right;
}
.lower-price {
    color: rgb(30, 135, 30);
}
.higher-price {
    color: rgb(185, 60, 60);
}
.old-price-outer {
    color: rgb(150, 150, 150);
    text-decoration: line-through;
}
.old-price-inner {
    color: black;
}
#add-tracked-item {
    text-align: center;
}
#add-tracked-item-button {
    background-color: rgb(200, 200, 200);
    margin-top: 3em;
    margin-bottom: 1em;
    width: 15em;
}
#add-tracked-item-button:hover {
    background-color: rgb(230, 230, 230);
}
.add-tracked-item-label {
    color: rgb(200, 200, 200);
}
.add-tracked-item-buttons {
    text-align: center;
}
.add-tracked-item-button {
    background-color: rgb(200, 200, 200);
    margin: 1em;
    width: 15em;
}
.waiting {
    text-align: center;
    color: rgb(200, 200, 200);
    font-size: x-large;
    margin-bottom: 1em;
}
/* small */
 @media (max-width: 992px) {
    #price-label {
        margin-top: 1em;
    }
 }
