body {
    background-color: rgb(80, 80, 80);
    background-image: url("/public/img/wild_oliva.png");
    /* to allow for the footer */
    margin-bottom: 2em;
}
h1, h2, h3 {
    text-align: center;
    color: rgb(200, 200, 200);
}
a, a:hover, a:active {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
table {
    margin-bottom: 1em;
    cursor: pointer;
}
.tracked-items-category {
    margin-top: 2em;
}
.tracked-items-category h2 {
    margin-bottom: 0.5em;
}
.tracked-items-subcategory h3 {
    text-align: left;
}
.tracked-item {
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(200, 200, 200);
    padding: 0.5em;
    cursor: pointer;
}
.tracked-item:hover {
    background-color: rgb(250, 250, 250);
}
.tracked-item-name {
    position: absolute;
}
.tracked-item-price {
    text-align: right;
}
.lower-price {
    color: rgb(30, 135, 30);
}
.higher-price {
    color: rgb(185, 60, 60);
}
.old-price-outer {
    color: rgb(150, 150, 150);
    text-decoration: line-through;
}
.old-price-inner {
    color: black;
}
.recent-price-increase {
    background-color: rgb(220, 190, 190);
}
.recent-price-decrease {
    background-color: rgb(200, 225, 200);
}
.site-img {
    height: 1.75em;
    margin: 0 auto;
}
#add-tracked-item {
    text-align: center;
}
#add-tracked-item-button {
    background-color: rgb(200, 200, 200);
    margin-top: 3em;
    margin-bottom: 1em;
    width: 15em;
}
#add-tracked-item-button:hover {
    background-color: rgb(230, 230, 230);
}
.add-tracked-item-label, .tracked-item-details-label {
    color: rgb(200, 200, 200);
    text-transform: uppercase;
}
.add-tracked-item-buttons, .tracked-item-details-buttons, .login-button-row {
    text-align: center;
}
.add-tracked-item-button, .tracked-item-details-button, .login-button {
    background-color: rgb(200, 200, 200);
    margin: 1em;
    width: 15em;
}
.item-price {
    background-color: rgb(230, 230, 230);
}
.item-price .item-price-heading {
    text-align: center;
}
.item-price .price, .item-price .duration {
    text-align: center;
}
.login-input {
    margin-top: 1em;
}
.waiting {
    text-align: center;
    color: rgb(200, 200, 200);
    font-size: x-large;
    margin-bottom: 1em;
}
footer {
    background-color: rgb(55, 55, 55);
    height: 2em;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgb(120, 120, 120);
}
#status-information {
    position: absolute;
    right: 1em;
    bottom: 0.35em;
}
/* small */
 @media (max-width: 992px) {
    #subcategory-label {
        margin-top: 1em;
    }
}
