<h1>Add Tracked Item</h1>

<h2>Item Details</h2>

<form class="form-horizontal" role="form">
    <div class="item-row form-group">
        <label for="uri" class="add-tracked-item-label col-md-2 col-md-offset-1 control-label">URI</label>
        <div class="col-md-6">
            <% if (typeof uri !== "undefined") { %>
                <input type="text" class="form-control" id="uri" placeholder="Website address" value="<%- uri %>">
            <% } else { %>
                <input type="text" class="form-control" id="uri" placeholder="Website address" autofocus="true">
            <% } %>
        </div>
    </div>
    <% if ((typeof name !== "undefined") && (typeof category !== "undefined") && (typeof price !== "undefined")) { %>
        <div class="item-row form-group">
            <label for="name" class="add-tracked-item-label col-md-2 col-md-offset-1 control-label">Name</label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="name" placeholder="Item Name" value="<%- name %>">
            </div>
        </div>
        <div class="item-row form-group">
            <label for="category" class="add-tracked-item-label col-md-2 col-md-offset-1 control-label">Category</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="category" placeholder="Category" value="<%- category %>">
            </div>
            <label for="subcategory" id="subcategory-label" class="add-tracked-item-label col-md-2 control-label">Subcategory</label>
            <div class="col-md-2">
                <% if (typeof subcategory !== "undefined") { %>
                    <input type="text" class="form-control" id="subcategory" placeholder="Subcategory" value="<%- subcategory %>">
                <% } else { %>
                    <input type="text" class="form-control" id="subcategory" placeholder="Subcategory" value="">
                <% } %>
            </div>
        </div>
        <div class="item-row form-group">
            <label for="price" class="add-tracked-item-label col-md-2 col-md-offset-3 control-label">Price</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="price" placeholder="Price" value="<%- price %>">
            </div>
        </div>
        <div class="item-row form-group">
            <div class="add-tracked-item-buttons">
                <button id="add" class="add-tracked-item-button btn btn-default">Add Item</button>
                <button id="cancel" class="add-tracked-item-button btn btn-default">Cancel</button>
            </div>
        </div>
    <% } else if ((typeof waiting !== "undefined") && waiting) { %>
        <div class="item-row form-group">
            <div class="waiting">
                <p>Loading item details...</p>
            </div>
        </div>
    <% } else { %>
        <div class="item-row form-group">
            <div class="add-tracked-item-buttons">
                <button id="populate" class="add-tracked-item-button btn btn-default">Load Details</button>
                <button id="cancel" class="add-tracked-item-button btn btn-default">Cancel</button>
            </div>
        </div>
    <% } %>
</form>
