<h1>Add Tracked Item</h1>

<h2>Item Details</h2>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="uri" class="add-tracked-item-label col-md-2 col-md-offset-1 control-label">URI</label>
        <div class="col-md-6">
            <input type="text" class="form-control" id="uri" placeholder="Website address">
        </div>
    </div>
    <div class="form-group">
        <div class="add-tracked-item-buttons">
            <button id="populate" class="add-tracked-item-button btn btn-default">Populate Details</button>
            <button class="add-tracked-item-button cancel btn btn-default">Cancel</button>
        </div>
    </div>
</form>
