<div class="row">
    <a href="tracked-item-details/<%- id %>">
        <div class="tracked-item col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <% if (pastPrices.length === 0) { %>
                <% var nameLength = 30; %>
            <div class="tracked-item-name visible-mobile">
            <% } else { %>
                <% var nameLength = 40; %>
            <div class="tracked-item-name-own-row visible-mobile">
            <% } %>
                <% if (name.length > nameLength) { %>
                    <%- name.substring(0, nameLength).trim() + "..." %>
                <% } else { %>
                    <%- name %>
                <% } %>
            </div>
            <div class="tracked-item-name hidden-mobile visible-xs">
                <% if (pastPrices.length === 0) { %>
                    <% var nameLength = 30; %>
                <% } else { %>
                    <% var nameLength = 40; %>
                <% } %>
                <% if (name.length > nameLength) { %>
                    <%- name.substring(0, nameLength).trim() + "..." %>
                <% } else { %>
                    <%- name %>
                <% } %>
            </div>
            <div class="tracked-item-name hidden-mobile visible-sm">
                <% var nameLength = 65; %>
                <% if (name.length > nameLength) { %>
                    <%- name.substring(0, nameLength).trim() + "..." %>
                <% } else { %>
                    <%- name %>
                <% } %>
            </div>
            <div class="tracked-item-name hidden-mobile hidden-xs hidden-sm">
                <% var nameLength = 70; %>
                <% if (name.length > nameLength) { %>
                    <%- name.substring(0, nameLength).trim() + "..." %>
                <% } else { %>
                    <%- name %>
                <% } %>
            </div>
            <% if ((typeof currentPrice != "undefined") && (typeof currentPrice.price != "undefined")) { %>
                <div class="tracked-item-price">
                    <% if (pastPrices[0]) { %>
                        <% if (currentPrice.price < pastPrices[0].price) { %>
                            <span class="current-price lower-price"><%- accounting.formatMoney(currentPrice.price) %></span>
                        <% } else { %>
                            <span class="current-price higher-price"><%- accounting.formatMoney(currentPrice.price) %></span>
                        <% } %>
                    <% } else { %>
                        <span class="current-price"><%- accounting.formatMoney(currentPrice.price) %></span>
                    <% } %>
                    <% var i, pastPrice; %>
                    <% for (i = 0; i < pastPrices.length && i < 4; i++) { %>
                        <% pastPrice = pastPrices[i]; %>
                        <span class="old-price-outer">
                            <span class="old-price-inner">
                                <%- accounting.formatMoney(pastPrice.price) %>
                            </span>
                        </span>
                    <% } %>
                    <% if (pastPrices.length > 4) { %>
                    <span class="old-price-inner">
                        ....
                    </span>
                    <% } %>
                </div>
            <% } %>
        </div>
    </a>
</div>
