<div class="tracked-item col-md-offset-3 col-md-6">
    <div class="tracked-item-name">
        <% if (name.length > 50) { %>
            <%- name.substring(0, 50).trim() + "..." %>
        <% } else { %>
            <%- name %>
        <% } %>
    </div>
    <% if (prices.length > 0) { %>
        <div class="tracked-item-price">
            <span class="current-price">$<%- prices[0].price %></span>
            <% var i, price; %>
            <% for (i=1; i<prices.length; i++) { %>
                <% price = prices[i]; %>
                <span class="old-price-outer">
                    <span class="old-price-inner">
                        $<%- price.price %>
                    </span>
                </span>
            <% } %>
        </div>
    <% } %>
</div>
