<h2><%- name %></h2>

<h3>Price History</h3>

<div class="row">
    <table class="table-bordered table-striped col-md-offset-4 col-md-4 col-sm-12 col-xs-12">
        <thead>
        <tr class="item-price">
            <td class="item-price-heading">Price</td>
            <td class="item-price-heading">Duration</td>
            <td class="item-price-heading">Site</td>
        </tr>
        </thead>
        <tr class="item-price">
            <% if (pastPrices[0]) { %>
                <% if (currentPrice.price < pastPrices[0].price) { %>
                    <td class="price lower-price"><%- accounting.formatMoney(currentPrice.price) %></td>
                    <td class="duration lower-price"><%- currentPrice.duration %></td>
                <% } else { %>
                    <td class="price higher-price"><%- accounting.formatMoney(currentPrice.price) %></td>
                    <td class="duration higher-price"><%- currentPrice.duration %></td>
                <% } %>
            <% } else { %>
                <td class="price"><%- accounting.formatMoney(currentPrice.price) %></td>
                <td class="duration"><%- currentPrice.duration %></td>
            <% } %>
            <td><img src="<%- currentPrice.imageUri %>" class="site-img img-responsive"></td>
        </tr>
        <% var i, pastPrice; %>
        <% for (i = 0; i < pastPrices.length; i++) { %>
            <tr class="item-price">
                <% if (pastPrices[i + 1]) { %>
                    <% if (pastPrices[i].price < pastPrices[i + 1].price) { %>
                        <td class="price lower-price"><%- accounting.formatMoney(pastPrices[i].price) %></td>
                        <td class="duration lower-price"><%- pastPrices[i].duration %></td>
                    <% } else { %>
                        <td class="price higher-price"><%- accounting.formatMoney(pastPrices[i].price) %></td>
                        <td class="duration higher-price"><%- pastPrices[i].duration %></td>
                    <% } %>
                <% } else { %>
                    <td class="price"><%- accounting.formatMoney(pastPrices[i].price) %></td>
                    <td class="duration"><%- pastPrices[i].duration %></td>
                <% } %>
                <td><img src="<%- pastPrices[i].imageUri %>" class="site-img img-responsive"></td>
            </tr>
        <% } %>
    </table>
</div>

<div id="editable-details-buttons" class="row">
    <div class="tracked-item-details-buttons">
        <button id="edit" class="tracked-item-details-button btn btn-default">Edit Item</button>
        <button id="back" class="tracked-item-details-button btn btn-default">Back</button>
    </div>
</div>

<div id="editable-details" style="display:none;">
    <h3>Item Details</h3>

    <form class="form-horizontal" role="form">

        <div class="item-row form-group">
            <label for="name" class="tracked-item-details-label col-md-2 col-md-offset-1 control-label">Name</label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="name" placeholder="Item Name" value="<%- name %>">
            </div>
        </div>
        <div class="item-row form-group">
            <label for="category" class="tracked-item-details-label col-md-2 col-md-offset-1 control-label">Category</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="category" placeholder="Category" value="<%- category %>">
            </div>
            <label for="subcategory" id="subcategory-label" class="tracked-item-details-label col-md-2 control-label">Subcategory</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="subcategory" placeholder="Subcategory" value="<%- subcategory %>">
            </div>
        </div>
        <div class="item-row form-group">
            <label for="uri1" class="tracked-item-details-label col-md-2 col-md-offset-1 control-label">URI</label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="uri1" placeholder="e.g. http://example.com" value="<%- uri1 %>">
            </div>
        </div>
        <div class="item-row form-group">
            <label for="uri2" class="tracked-item-details-label col-md-2 col-md-offset-1 control-label">Alternate URI</label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="uri2" placeholder="e.g. http://example.com" value="<%- uri2 %>">
            </div>
        </div>
        <div class="item-row form-group">
            <div class="tracked-item-details-buttons">
                <button id="update" class="tracked-item-details-button btn btn-default">Update</button>
                <button id="delete" class="tracked-item-details-button btn btn-default">Delete</button>
                <button id="cancel" class="tracked-item-details-button btn btn-default">Cancel</button>
            </div>
        </div>

    </form>
</div>
